<main ng-app="pioneerRoad.Profile">
    <div id="user-profile-photo-container" ng-cloak>
        <div id="user-profile-bg-photo">
            <img ng-src="{{background}}" />
        </div>
        <div id="user-profile-photo-inner-container">
            <div id="user-profile-photo">
                <img ng-src="{{profilepic}}" />
            </div>
        </div>
        <div class="user-profile-nickname" ng-show="nickName">
            <h1>{{profile.nickName}}</h1>
        </div>
    </div>
    <div>
        <form ng-submit="updateNickName() && ng-valid">
            <input type="text" placeholder="enter in nick name" name="nickname"  ng-model="nickname">
            <button type="submit" >Save</button>
        </form>
    </div>
    <div class="container">
        <div>
            <form ng-submit="updateHomeTown() && ng-valid">
                <input type="text" placeholder="enter in hometown" name="hometown"  ng-model="hometown" ng-keyup="getHomeTownSug()" required>
                <button ng-show="showSave" type="submit">Save</button>
                <ul>
                    <li ng-repeat="town in homeTownSuggestions | limitTo:5" ng-model="town" ng-click="chosenTown(town)">{{town.label}}</li>
                </ul>
            </form>
        </div>
        <div>
            <form>
                <p id="location" ng-model="location"></p>
                <button type="submit" ng-click="updateLocation()">Check In!</button>
            </form>
         </div>
        <div class="well well-blue">
            <h3>Hometown</h3>
            <div class="left"><span class="glyphicon glyphicon-home large"></span></div>
            <div class="right">
                <h4>{{profile.dataSet_town.location}}, {{profile.dataSet_town.state}} </h4>
                <h4>{{profile.dataSet_town.tourism_region}}</h4>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</main>