
<div ng-app="pioneerRoad.Profile" class="form-wrapper profile-edit-page">
    <!-- <img ng-src="{{background}}" /> -->
    <div class="container">
        <div id="editNickname" class="field-edit-wrapper">
            <h4>Nickname <span id="nick" class="badge green hidden status-badge"><span class="glyphicon glyphicon-ok"></span> saved</span></h4>
            <div class="form-group">
                <label class="sr-only" for="editNickname">Edit Nickname</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="editnick" placeholder="{{profile.nickName}}" name="nickname" ng-model="nickname" disabled>
                    <div class="input-group-addon toggle-field-edit" ng-click="updateNickName()"><span id="nikGly" class="glyphicon glyphicon-pencil"></span></div>
                </div>
            </div>
        </div>

        <div id="editHometown" class="field-edit-wrapper">
            <h4>Hometown <span id="home" class="badge green hidden status-badge"><span class="glyphicon glyphicon-ok"></span> saved</span></h4>
            <div class="form-group">
                <label class="sr-only" for="editHometownInput">Edit Hometown</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="editHometownInput" placeholder="{{profile.dataSet_town.location}}" name="hometown"  ng-model="hometown" ng-keyup="getHomeTownSug()" disabled>
                    <div class="input-group-addon toggle-field-edit" ng-click="updateHomeTown()" ><span id="homeGly" class="glyphicon glyphicon-pencil"></span></div>
                </div>
                <ul>
                    <li ng-repeat="town in homeTownSuggestions| limitTo:5" ng-model="town" ng-click="chosenTown(town)">{{town.label}}</li>
                </ul>
            </div>
        </div>
        <div id="editProfilePhoto" class="field-edit-wrapper" style="position: relative">
            <h4>Edit profile photo <span id="PPsaved" class="badge green status-badge hidden"><span class="glyphicon glyphicon-ok"></span> saved</span></h4>
            <span id="PPError" class="badge red status-badge hidden"><span class="glyphicon glyphicon-remove"></span> Try a larger image!</span>
            <div class="photo-edit-wrapper" ng-cloak>
                <input id="pFile" type="file" class="cropit-image-input" />
                <div class="cropit-image-preview"></div>
                <div class="hidden-image-data"></div>
                <input type="range" class="cropit-image-zoom-input" />
                <div class="column"><div id="pPhotoInput" class="btn btn-success btn-file-input"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Select Photo</div></div>
                <div class="column"><div id="profilePhoto" class="btn btn-warning btn-file-upload disabled"><span class="glyphicon glyphicon-open"></span> Save Photo</div></div>
            </div>
        </div>
        <!--  <img ng-src="{{profilepic}}" /> -->
        <div id="editBackgroundPhoto" class="field-edit-wrapper" style="position: relative">
            <h4>Edit background photo <span id="BGPsaved" class="badge green status-badge hidden" ><span class="glyphicon glyphicon-ok"></span> saved</span></h4>
            <span id="BGError" class="badge red status-badge hidden"><span class="glyphicon glyphicon-remove"></span> Try a larger image!</span>
            <div class="photo-edit-wrapper" ng-cloak>
                <input id="bgFile" type="file" class="cropit-image-input" />
                <div class="cropit-image-preview"></div>
                <input type="range" class="cropit-image-zoom-input" />
                <div class="column"><div id="bgPhotoInput" class="btn btn-success btn-file-input"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Select Photo</div></div>
                <div class="column"><div id="bgPhoto" class="btn btn-warning btn-file-upload disabled"><span class="glyphicon glyphicon-open"></span> Save Photo</div></div>
            </div>
        </div>

        <div id="editBio" class="field-edit-wrapper">
            <h4>Bio <div class="character-count badge">{{charsLeft}}</div> <span id="bioSaved" class="badge green hidden status-badge"><span class="glyphicon glyphicon-ok"></span> saved</span></h4>
            <div class="form-group">
                <label class="sr-only" for="editBioInput">Edit Bio</label>
                <div class="input-group">
                    <textarea class="form-control" rows="3" id="editBioInput" placeholder="{{profile.bio}}" name="bio"  ng-model="bio" maxlength="{{maxChar}}" ng-keyup="getBio()" disabled></textarea>
                    <div class="input-group-addon toggle-field-edit" ng-click="updateBio()"><span id="bioGly" class="glyphicon glyphicon-pencil"></span></div>
                </div>
            </div>
        </div>
    </div>
    <!-- <h1>{{profile.nickName}}</h1> -->


</div>