<!-- Main app functions/content goes inside the <main> section -->
<main>
    <div id="user-profile-photo-container">
        <div id="user-profile-bg-photo">
            <img ng-src="{{background}}" />
        </div>
        <div id="user-profile-photo-inner-container">
            <div id="user-profile-photo">
                <img ng-src="{{profilepic}}" />
            </div>
        </div>
        <div class="user-profile-nickname" ng-show="nickName">
            <h1>{{profile.nickName}}</h1>
        </div>
    </div>
    <div class="container">
        <div class="well well-blue" id="current-location">
            <h3>Hometown</h3>
            <div class="panel-left"><span class="glyphicon glyphicon-home large"></span></div>
            <div class="panel-right">
                <h4>{{profile.dataSet_town.location}}, {{profile.dataSet_town.state}}</h4>
                <h4>{{profile.dataSet_town.tourism_region}}</h4>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="well well-orange" id="current-location">
            <h3>Current Location</h3>
            <div class="panel-left"><span class="glyphicon glyphicon-map-marker large"></span></div>
            <div class="panel-right">
                <h4>Near {{location.location}} ({{location.distance | distanceFilter}})</h4>
                <h4>{{location.tourism_region}} {{location.state}}</h4>
                 <h4>{{profile.checkinCoords.updatedAt | timeFilter}}</h4>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</main>
