<!-- Main app functions/content goes inside the <main> section -->
<div ng-app="pioneerRoad.Profile">
    <div id="user-profile-photo-container" ng-cloak>
        <div id="user-profile-bg-photo">
            <img ng-src="{{background}}" />
        </div>
        <div id="user-profile-photo-inner-container" ng-cloak>
            <div id="user-profile-photo">
                <img ng-src="{{profilepic}}" class="profile-photo" />
            </div>
        </div>
        <div id="photo-edit-control">
            <a href="#"><span class="glyphicon glyphicon-cog"></span></a> <!-- Link to profile edit page -->
        </div>
    </div>
    <div>
        <div class="well well-blue" ng-cloak>
            <h3>Hometown</h3>
            
            <div class="right">
                <h4>{{profile.dataSet_town.location}}, {{profile.dataSet_town.state}}</h4>
                <h4>{{profile.dataSet_town.tourism_region}}</h4>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="well well-orange" id="current-location" ng-cloak>
            <h3>Current Location</h3>
            <div class="right">
                <h4>Near {{location.location}} ({{location.distance| distanceFilter}})</h4>
                <h4>{{location.tourism_region}} {{location.state}}</h4>
                <h4>{{profile.checkinCoords.updatedAt| timeFilter}}</h4>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
