<!-- Main app functions/content goes inside the <main> section -->
<main>
    <div id="user-profile-photo-container">
        <div id="user-profile-bg-photo">
            <img ng-src="{{background}}" />
        </div>
        <div id="user-profile-photo-inner-container">
            <div id="user-profile-photo">
                <img ng-src="{{profilepic}}" />
            </div>
        </div>
        <div class="user-profile-nickname" ng-show="nickName">
            <h1>{{profile.nickName}}</h1>
        </div>
        <div id="photo-edit-control">
            <a href="#"><span class="glyphicon glyphicon-cog"></span></a> <!-- Link to profile edit page -->
            <button value="logout" ng-click="logOut()">logout</button>
        </div>
    </div>
    <div class="container">
        <div class="well well-blue">
            <h3>Hometown</h3>
            <div class="left"><span class="glyphicon glyphicon-home large"></span></div>
            <div class="right">
                <h4>{{profile.town}}</h4>
                <h4>{{profile.town}}</h4>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="well well-orange">
            <h3>Current Location</h3>
            <div class="left"><span class="glyphicon glyphicon-map-marker large"></span></div>
            <div class="right">
                <h4>{{profile.checkinCoords}}</h4>
                <h4>{{profile.checkinCoords}}</h4>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</main>
