
<div ng-app="pioneerRoad.RelationShips">
    <div class="well well-orange" id="add-friend">
        <div class="heading widget-add-new">
            <div class="alert alert-danger" ng-show="error">
                <button type="button" class="close" ng-click="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                 <p>{{message}}</p>
            </div>
             <div class="alert alert-success" ng-show="success">
                <button type="button" class="close" ng-click="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                 <p>{{message}}</p>
            </div>
            <div class="alert alert-info" ng-show="showFriendConfirmationModal" >
                <h4 class="modal-title">Do you want to add this user?</h4>
                <button type="button" class="btn btn-danger" ng-click="addFriend()">Yes, please!</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">No, Thanks!</button>
            </div>
            <h4>Add a new friend</h4>
            <div class="clearfix"></div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <label class="sr-only" for="searchUsers">Email Address</label>
                <input type="text" class="form-control" id="searchUsers" ng-model="friendName" ng-keyUp="findFriend()"/>
                <span class="input-group-addon" id="executeSearch"><span ng-click="findFriend()" class="glyphicon glyphicon-search"></span></span>
            </div>
            <!-- Returned result of friend search -->
            <div class="well panel-list friends-list" ng-repeat="friend in addFriendNew | limitTo:5" ng-cloak>
                {{friend.error}} 
                <div id="user-profile-photo-inner-container">
                    <img ng-src="{{friend.profilePic}}" class="profile-photo" /></div>

                <div class="panel" ng-show="friend.nickName">
                    <h5>{{friend.nickName}}</h5>
                    <button ng-show="friend.userAccountId" class="btn btn-default" ng-click="addFriendbtn(friend.userAccountId)"><span class="glyphicon glyphicon-plus"></span> Add Friend</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div>

