<!doctype html>
<div ng-app="pioneerRoad.RelationShips">
    <div id="friend-panel" class="subsection-panel visible" >
        
        <div class="scrollable panel-list friends-list">
            <!-- Beginning of block inside ng-repeat -->
            <div class="well well-darker-green has-touch-control" ng-swipe-left="blockFriendsOpen(friend.friend)" ng-swipe-right="blockFriendsClose(friend.friend)" ng-repeat="friend in friends">
                <div class="panel-left" ng-cloak>
                    <div class="profile-photo-container">
                        <img ng-src="{{friend.profilePic}}" /></div>
                </div>
                <div class="panel-right" ng-cloak>
                    <h5>{{friend.nickname}}</h5>
                    <div class="hometown" ng-show="friend.location">
                        <div class="details left">
                            <span class="glyphicon glyphicon-home"></span>
                        </div>
                        <div class="details right" ng-cloak>
                            <p class="town">{{friend.location}}</p>
                            <p class="region">{{friend.tourism_region}} {{friend.state}}</p>
                        </div>
                    </div>
                    <div class="current-location" ng-show="friend.currentLocation.nearestTown" ng-cloak>
                        <div class="details left">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </div>
                        <div class="details right" >
                            <p class="town">Near {{friend.currentLocation.nearestTown}}</p>
                            <p class="region">{{friend.currentLocation.tourismRegion}}</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="touch-control inactive" id="{{friend.friend}}" ng-click="blockFriendbtn(friend.friend)" ng-cloak>
                    <p data-toggle="modal" data-target="#blockFriendConfirmationModal"  >Block Friend</p>
                </div>
            </div>
            <!-- End of block inside ng-repeat -->
        </div>
    </div>
    <div id="groups-panel" class="subsection-panel hidden"></div>

</div>
<!-- End of main section -->

<!-- Modals -->

<div class="modal fade"  modal="showblockFriendConfirmationModal" aria-hidden="true" id="blockFriendConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4 ng-hide="okay" class="modal-title">{{message}}</h4>
                <h4 ng-show="okay" class="modal-title">Do you really want to block this user?</h4>
                <button ng-show="okay" type="button" class="btn btn-danger" ng-click="blockFriend()">Yes, please!</button>
                <button ng-show="okay" type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">No, Thanks!</button>
                <button ng-hide="okay" type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Okay</button>
            </div>
        </div>
    </div>
</div>


<!-- End Modals -->
