<!doctype html>
<div ng-app="pioneerRoad.RelationShips">
    <div id="friend-panel" class="subsection-panel visible" >
        <div class="scrollable panel-list friends-list">
            <!-- Beginning of block inside ng-repeat -->
            <div class="well well-blue has-touch-control" ng-swipe-left="blockFriendsOpen(friend.friend)" ng-swipe-right="blockFriendsClose(friend.friend)" ng-repeat="friend in friends">         
                <div class="alert alert-danger hidden" id="{{friend.friend}}Block" role="alert">
                    <h4 ng-hide="okay" class="modal-title">{{message}}</h4>
                    <h4 ng-show="okay" class="modal-title">Do you really want to block this user?</h4>
                    <button ng-show="okay" type="button" class="btn btn-danger" ng-click="blockFriend(friend.friend)">Yes, please!</button>
                    <button ng-show="okay" type="button" class="btn btn-default"  ng-click="closeBlockDialog(friend.friend)">No, Thanks!</button>
                    <button ng-hide="okay" type="button" class="btn btn-default"  ng-click="closeBlockDialog(friend.friend)">Okay</button>
                </div>
                <a href="#/friendProfile/{{friend.friend}}"> <!-- Link to user's profile page -->
                    <div  ng-cloak>
                        <h3>{{friend.nickname}}</h3>                
                    </div>
                    <div id="user-profile-photo" ng-cloak>

                        <img ng-src="{{friend.profilePic}}" class="profile-photo"/>

                    </div>

                    <div class="clearfix"></div>
                </a>
                <div class="touch-control inactive" id="{{friend.friend}}" ng-click="blockFriendbtn(friend.friend)" ng-cloak>
                    <p data-toggle="modal" data-target="#blockFriendConfirmationModal">Block Friend</p>
                </div>

            </div>
            <!-- End of block inside ng-repeat -->
        </div>
    </div>
    <div id="groups-panel" class="subsection-panel hidden"></div>

</div>
<!-- End of main section -->

<!-- Modals -->

<div class="modal fade"  modal="showblockFriendConfirmationModal" aria-hidden="true" id="blockFriendConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>


<!-- End Modals -->
