<html ng-app="pioneerRoad">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="assets/css/style.css" />
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/normalize.css">



        <script src="assets/libs/angular/angular.min.js"></script>
        <script src="assets/libs/angular/angular-route.min.js"></script>
        <script src="assets/libs/angular/angular-touch.min.js"></script>
        <script src="assets/libs/angular/ngStorage.min.js"></script>
        <script src="assets/libs/angular/sanitize.js"></script>
        <script src="assets/libs/modernizr-2.8.3.min.js"></script>
        <script src="assets/libs/angular-ui-bootstrap-modal.js"></script>
        <script src="assets/libs/socket-io/socket.io.js"></script>


        <script src="assets/libs/angular-socket-io/socket.min.js"></script>
        <script src="app/app.module.js"></script>
        <script src="app/app.routes.js"></script>

        <script src="app/global/socket/socketController.js"></script>
        <script src="app/components/user/userRegister/userRegisterController.js"></script>
        <script src="app/components/user/userLogin/userLoginController.js"></script>
        <script src="app/components/user/userLogin/userLoginService.js"></script>
        <script src="app/components/user/loginRedirect/loginRedirect.js"></script>
        <script src="app/components/user/loginRedirect/addToken.js"></script>
        <script src="app/components/user/loginRedirect/rememberMeService.js"></script>
        <script src="app/components/user/viewProfile/viewProfileController.js"></script>
        <script src="app/components/user/viewProfile/viewProfileService.js"></script>
        <script src="app/components/user/editProfile/editProfileController.js"></script>
        <script src="app/components/user/editProfile/editProfileService.js"></script>
        <script src="app/components/user/geoLocation/geoLocationService.js"></script>
        <script src="app/components/user/logOut/logOutController.js"></script>

        <script src="app/components/relationships/friendsNearMe/friendsNearMeController.js"></script>
        <script src="app/components/relationships/friendsNearMe/friendsNearMeService.js"></script>
        <script src="app/components/home/homePageController.js"></script>
        <script src="app/components/home/homePageService.js"></script>

        <script src="app/components/relationships/friendRequest/friendRequestController.js"></script>
        <script src="app/components/relationships/friendRequest/friendRequestService.js"></script>
        <script src="app/components/relationships/relationships/relationshipsController.js"></script>
        <script src="app/components/relationships/relationships/relationshipsService.js"></script>


        <script src="app/global/filters/distanceFilter.js"></script>
        <script src="app/global/filters/timeFilter.js"></script>
        <script src="app/global/controllers/reEnableLocationController.js"></script>

        <script src="app/global/services/deviceTypeService.js"></script>

        <script src="app/global/partials/notificationBar/notificationBarController.js"></script>
        <script src="app/global/partials/navigationBar/navigationBarController.js"></script>


    </head>

    <body>
        <main class="page-height-container">

            <span ng-if="user.token">
                <div ng-include="'/app/global/partials/notificationBar/notificationBar.html'"></div>
            </span>
            <!--[if lt IE 8]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
                <![endif]-->


            <!-- this is where the main  content goes -->
            <div class="content">
                <div ng-view></div>
            </div>

        </main>
        <span ng-if="user.token">
            <div ng-include="'/app/global/partials/navigationBar/navigationBar.html'"></div>
        </span>


        <!--modal for location service -->
        <div ng-controller="reEnableLocationController" class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h1 class="modal-title" id="myModalTitle"></h1>
                        <p>Please allow location services</p>
                        <ul>
                            <li ng-repeat="step in instruction"> {{step}}</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-success" data-dismiss="modal" >OK</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="/assets/libs/jquery-mobile/jquery.mobile.custom.js"></script>
        <script src="/assets/libs/jquery.plugins/jcarousel/dist/jquery.jcarousel-core.min.js"></script>
        <script src="/assets/js/plugins.js"></script>
        <script src="/assets/js/main.js"></script>
        <script src="/assets/libs/bootstrap/modal.js"></script>

    </body>

</html>
