
<div ng-controller="notificationBarController">

    <div class="nav-bar" id="navBarTop" >
        <div id="slideMenuToggle" class="col-xs-3" ng-click="showHideNav()">
            <span class="glyphicon glyphicon-menu-hamburger"><span class="badge" ng-if="numfriendRequest + messageNoti.length !==0">{{numfriendRequest + messageNoti.length}}</span></span>
        </div>
        <div class="page-heading col-xs-6"><h5 ng-bind-html="Title"></h5></div>
        <div class="action col-xs-3" ng-bind-html="Link"></div>
    </div>
    <div ng-controller="reEnableLocationController">
        <div  ng-show="locationOff" data-toggle="modal" class="alert alert-danger" role="alert" data-target="#locationModal">
            <span class="glyphicon glyphicon-info-sign"></span>
            <strong> Please enable location service! <br/></strong>
            <a href="#locationModal"> Help!</a>
        </div>
    </div>
</div>
<!-- ************* End of dynamic panels *********** -->

