<!-- Main app functions/content goes inside the <main> section -->
<div ng-app="pioneerRoad.FriendProfile">
    <div id="user-profile-photo-container" ng-cloak>
        <div id="user-profile-bg-photo">
            <img ng-src="{{background}}" />
        </div>
        <div id="user-profile-photo-inner-container" ng-cloak>
            <div id="user-profile-photo">
                <img ng-src="{{profilepic}}" class="profile-photo" />
            </div>
        </div>
    </div>
    <div>
        <div class="well well-grey">
            <h3>{{profile.nickName}}</h3>
            <p>{{profile.bio}}</p>
        </div>
        <div class="well well-blue" id="profileHometown" ng-cloak>
            <h3>Hometown</h3>  
            <h4>{{profile.dataSet_town.location}}, {{profile.dataSet_town.state}}</h4>
            <h4>{{profile.dataSet_town.tourism_region}}</h4>
            
        </div>
        <div class="well well-blue" id="current-location" ng-cloak>
            <h3>Current Location</h3>
            <h4>Near {{profile.currentLocation.nearestTown}}</h4>
            <h4>{{profile.currentLocation.tourismRegion}} {{profile.currentLocation.state}}</h4>
            <h4>{{profile.currentLocation.updatedAt | timeFilter}}</h4>
            <div class="clearfix"></div>
        </div>
        <div class="well well-blue" id="userProfileRV">
            <div class="left">
                <img id="user-profile-rig-img" src="https://s3-ap-southeast-2.amazonaws.com/images.pioneerroad.com.au/suncamper.jpg" />
            </div>
            <div class="right">
                <h3>My RV</h3>
                <p>Suncamper</p>
                <p>Sherwood 4x4</p>
                <p>2012</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
