<!doctype html>
<!-- Main app functions/content goes inside the <main> section -->
<div ng-app="pioneerRoad.Profile" class="content">
    <div ng-controller="viewProfileController">
        <div  id="user-profile-photo-container" ng-controller="homePageController">
            <div id="user-profile-bg-photo" >
                <img ng-src="{{background}}" />
            </div>
            <div id="user-profile-photo-inner-container" >
                <div id="user-profile-photo" >
                    <img ng-src="{{profilepic}}" class="profile-photo" />
                </div>
            </div>
            <div class="user-profile-nickname" ng-show="nickName" ng-cloak>
                <h1>{{profile.nickName}}</h1>
            </div>
        </div>
        <div class="well well-orange" id="current-location" ng-cloak>
            <h3>Current Location</h3>
            <h4>Near {{location.location}} ({{location.distance| distanceFilter}})</h4>
            <h4>{{location.tourism_region}} {{location.state}}</h4>
            <div class="clearfix"></div>
        </div>
    </div>
    <div ng-controller="friendsNearMeController" ng-cloak>
        <div class="well well-green panel-list" id="friends-nearby">
            <h3>Friends Nearby</h3>
            <!-- Beginning of block inside ng-repeat -->
            <ul class="profile-grid" ng-cloak>
                <li ng-repeat="friend in friends"> 
                    <a href="friend-user-profile.html"> <!-- Link to user's profile page -->
                        <img ng-src="{{friend.profilePic}}" />
                    </a><span class="badge">{{friend.distance| distanceFilter}}</span> 
                </li>
            </ul>
            <!-- End of block inside ng-repeat -->
        </div>
    </div>
</div>


<!-- End of main section -->