<div ng-controller="navigationBarController">
    <div class="menu-bar bottom" >
        <ul role="menu">
            <li class="icon icon-home" id="home"><a href="#/home"></a></li>
            <li class="icon icon-community" id="community" ng-click="doMenuAction('community-menu')"></li>
            <li class="icon icon-places" id="places"><a href="#/home"></a></li>
            <li class="icon icon-user" id="user" ng-click="doMenuAction('user-menu')"></li>
        </ul>
    </div> 
    <div class="overlay-menu" id="community-menu">
        <h1>My Community</h1>
        <div class="section-icon"></div>
        <ul class="items">
            <li>Browse my friend list<a href="#/community"></a></li>
            <li>Find and add friends<a href="#/community"></a></li>
            <li>View/Manage blocked friends</li>
            <li>Create or join a group</li>
            <li>My group memberships</li>
        </ul>
    </div>

    <div class="overlay-menu" id="user-menu">
        <h1>My User Settings</h1>
        <div class="section-icon"></div>
        <ul class="items">
            <li>View my Profile<a href="#/profile"></a></li>
            <li>Edit my Profile<a href="#/editprofile"></a></li>
            <li>Change my Privacy Settings</li>
            <li>Change my Password</li>
            <li>Edit my account details</li>
            <li><a href="#/logout">Logout</a></li>
        </ul>
    </div>
</div>