<div ng-controller="navigationBarController" ng-cloak >

    <div class="sitewide-navigation slide-menu page-height-container" id="drawerMenu">
        <ul class="sitewide-nav">
            <li class="menu-item menu-item-messages" aria-label="Messages" id="messagesPanelCtrl"><a href="#/messages"><span class="badge" ng-if="messageNoti.length !==0">{{messageNoti.length}}</span></a></li>
            <li class="menu-item menu-item-notifications" aria-label="Notifications" id="notificationPanelCtrl"><a href="#/notifications"></a><span class="badge" ng-if="numfriendRequest !==0">{{numfriendRequest}}</span></li>
            <li class="divider" aria-hidden="true"></li>
            <li class="menu-item menu-item-home" aria-label="Home" id='home'><a href="#/home"></a></li>
            <li class="menu-item menu-item-social" aria-label="Social Connections" id="community-menu"><a href="#/communityMenu"></a></li>
            <li class="menu-item menu-item-places" aria-label="Places" id='places'><a href="#/places"></a></li>
            <li class="menu-item menu-item-user" aria-label="My Profile" id="user-menu"><a href="#/userMenu"></a></li>
        </ul>
    </div>
</div>
