<div class="page-height-container user-page menu-page">
    <div class="content">
        <div class="section-icon"></div>
        <ul class="menu-items">
            <li><a href="#/profile">View my Profile</a></li>
            <li><a href="#/editprofile">Edit my Profile</a></li>
            <!-- <li><a href="edit-privacy-settings.html">Change my Privacy Settings</a></li>
            <li><a href="edit-account-details.html">Edit my account details</a></li> -->
            <li><a href="#logout">Logout</a></li>
        </ul>
    </div>
</div>
