
<div>
    <!-- ********* Messages Panel ***************** --> 
    <div class="overlay-panel" id="messages-panel" >
        <div class="title-panel">
            <div class="title"><h3>Messages</h3></div>
            <div class="clearfix"></div>
        </div>
        <div id="msg-list-panel" class="msg-panel">
            <div class="well well-orange" id="msg-new-conversation">
                <div class="heading">
                    <h4>Start a new conversation</h4>
                    <button class="btn btn-default" id="startNewConversation" ng-click="addNewThreadform()"><span class="glyphicon glyphicon-pencil"></span></button>
                    <div class="clearfix"></div>
                </div>
                <div class="body" ng-show="form">
                    <ul>
                        <li ng-repeat="friend in currentFriendsAdded" style="display: inline;">{{friend}}, </li>
                    </ul>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="sr-only" for="nickname">Nickname</label>
                            <input type="text" class="form-control" id="nickname" ng-model="currFriend" ng-keyup="searchForFriends()"/>
                            <span class="input-group-addon" id="addRecipient" ng-click="appendFriend()"><span class="glyphicon glyphicon-plus"></span></span>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="friend in friendList | limitTo:5" ng-click="addFriend(friend)">{{friend.nickName}}</li>
                        </ul>
                        <div class="msg-recipient-list"><ul></ul><!-- Visual indicator of msg recipients; User Ids also need to be added to an array and sent to server--> </div>
                        <div class="input-group">
                            <label class="sr-only" for="msg-body">Message Body</label>
                            <textarea class="form-control" rows="5" id="msg-body" ng-model="message"></textarea>
                            <span type="submit" class="input-group-addon" id="postMessage" ng-click="createThread()"><span class="glyphicon glyphicon-share-alt"></span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="msg-conversation-list">
                <div class="well well-blue" data-thread-id="425" ng-repeat="thread in threads"> <!-- data-thread-id value is msg thread ID --> 
                    <div class="row">
                        <div class="msg-user">{{thread.subscriber_nickname}}</div>
                        {{thread.qty}}
                        <div class="msg-date">{{thread.time| timeFilter}}</div>
                    </div>
                    <div ng-show="hasNewMessages(thread.threadId)">
                       <span class="label label-success">New Message</span>
                    </div>
                    <div class="msg-status unread"><span class="glyphicon glyphicon-asterisk"></span></div>
                    <div class="msg-user-profile-photo online"><img ng-src="{{thread.profilePic}}"/></div>
                    <div class="msg-summary">

                        <p class="summary-text">{{thread.message}}</p>
                    </div>
                    <div class="msg-open-thread"><a href="#/message/{{thread.threadId}}"><span class="glyphicon glyphicon-chevron-right"></span></a></div>
                    <br/><br/><span class="label label-danger" ng-click="removeThread(thread.threadId)">Delete Thread</span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>  
    </div>
</div> 